.places {
  max-width: 100%;
  padding: calc(92/1024*100%) calc(48/1024*100%);
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
  .places {
    padding-left: calc(148/1280*100%);
    padding-right: calc(148/1280*100%);
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .places {
    padding: calc(88/768*100%) calc(24/768*100%) calc(90/768*100%);
  }
}

@media screen and (max-width: 360px) {
  .places {
    padding: calc(64/320*100%) 0 calc(66/320*100%);
  }
}
