.place__text {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
 }

@media screen and (max-width: 320px) {
  .place__text  {
    padding: 0 calc(16/320*100%);
  }
}
