.place {
  display: grid;
  gap: 32px;
  grid-template-columns: 440px 1fr;
  grid-template-rows: repeat(2, auto);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin-bottom: 80px;
}

.place:last-of-type {
  margin-bottom: 0;

}

@media screen and (min-width: 1280px) {
  .place {
  grid-template-columns: 460px 1fr;
  gap: 40px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    margin-bottom: 87px;
    gap: 27px;
  }
}

@media screen and (max-width: 767.9px) and (min-width: 361px) {
  .place {
    grid-template-columns: minmax(340px, 1fr);
    }
}

@media screen and (max-width: 360px) {
  .place {
    grid-template-columns: minmax(320px, 1fr);
    margin-bottom: 49px;
    gap: 32px;
  }
}
