.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767.9px) {
  .place__website {
  display: none;
  }
}
